# dependencies
node_modules/

# build output
backend/dist/
frontend/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env
.env.production
!.env.example

# typescript
*.tsbuildinfo

# database
data/
*.db
*.db-journal
